<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIconImageSettings</key>
	<string>image-theme: 1; image-shape: 3; image-opacity: 1.00; image-top-color: 1.0000,1.0000,1.0000; image-bottom-color: 0.9567,0.9567,0.9567; image-radius: 10,10,10,10; image-border: 1; image-border-color: 0.6154,0.6154,0.6154; image-border-width: 1; shine-on: 0; shine-strength: 0.71; shine-alpha-level: 0.50; shine-height: 0.50; shadow-include-shadow: 1; shadow-blur: 9.00; shadow-offset: -1.00,-6.00; shadow-color: 0.0000,0.0000,0.0000,0.3333;</string>
	<key>CYBackwardCompatibleExport</key>
	<false/>
	<key>CYProjectFormatVersion</key>
	<integer>14</integer>
	<key>CYShineVersion</key>
	<integer>2</integer>
	<key>MainCSS</key>
	<string>ChineseWords.css</string>
	<key>MainJS</key>
	<string>ChineseWords.js</string>
	<key>Steps</key>
	<array>
		<dict>
			<key>Completed</key>
			<true/>
			<key>Detail</key>
			<string>DailyFeed_Step_1_Detail</string>
			<key>MainHelp</key>
			<string>Tag(211)</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>DailyFeed_Step_1_Title</string>
		</dict>
		<dict>
			<key>Completed</key>
			<true/>
			<key>Detail</key>
			<string>DailyFeed_Step_2_Detail</string>
			<key>MainHelp</key>
			<string>Tag(202)</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>DailyFeed_Step_2_Title</string>
		</dict>
		<dict>
			<key>Completed</key>
			<true/>
			<key>Detail</key>
			<string>DailyFeed_Step_3_Detail</string>
			<key>MainHelp</key>
			<string>Tag(203)</string>
			<key>Recommended</key>
			<true/>
			<key>Title</key>
			<string>DailyFeed_Step_3_Title</string>
		</dict>
		<dict>
			<key>Completed</key>
			<true/>
			<key>Detail</key>
			<string>DailyFeed_Step_4_Detail</string>
			<key>MainHelp</key>
			<string>Tag(204)</string>
			<key>Recommended</key>
			<true/>
			<key>Title</key>
			<string>DailyFeed_Step_4_Title</string>
		</dict>
		<dict>
			<key>Completed</key>
			<true/>
			<key>Detail</key>
			<string>DailyFeed_Step_5_Detail</string>
			<key>MainHelp</key>
			<string>Tag(205)</string>
			<key>Recommended</key>
			<true/>
			<key>Title</key>
			<string>DailyFeed_Step_5_Title</string>
		</dict>
	</array>
	<key>TemplateIdentifier</key>
	<string>com.apple.Dashcode.template.dailyFeed</string>
	<key>UseCustomAppIcon</key>
	<true/>
</dict>
</plist>
